* {
    margin: auto;
    padding:40px;
    box-sizing: border-box;
    position: relative;
}

html {
    background-color: lightcoral;
}

#main {
    background-color: #F5EDF7;
    height: 450px;
    width: 300px;
    border-radius: 0 15%;
    overflow:hidden;
    font-family: Ubuntu;
}

h1 {
    background-color: transparent;
    font-size: 30px;
    white-space: nowrap;
    right: 52px;
    color: white;
    margin-top: -151px;
    z-index: 2;
    text-shadow: 3px 1px 3px #45434C
}

.top-bg {
    width: inherit;
    margin-left: -40px;
    margin-top: -66px;
    z-index:1;
}

.circle {
    border-radius: 50%;
}

#circle1 {
    background-color: #58AAAF;
    width: 10px;
    height: 10px;
    z-index: 3;
    margin-right: 23px;
    margin-top: -33px;
}

 #circle2 {
    background-color: #58858D;
    width: 100px;
    height: 100px;
    z-index: 2;
    margin-top: -40px;
    margin-right: -35px;
}

ul {
    list-style: none;
    margin-top: -45px;
    margin-left: -20px;
}

ul li:before {
    content: '✓ ';
    color:green;
}

li {
    font-size: 22px;
    white-space: nowrap;
    left: -34px;
    bottom: 20px;
}

button {
    padding: 15px;
    font-size: 20px;
    font-family: Georgia, serif;
    display: block;
    top: -45px;
    border-radius: 12px;
    transition-duration: 0.4s;
    background-color: lightgrey;
    color: black;
    border:hidden;
}
  
button:hover {
    background-color: #CFC8C7;
    color: white;
    cursor: pointer;
}

#info {
    top: -40px;
    left: 76px;
    font-size: 12px;
}

span, li, #info, .top-bg, #new-text, #price {
    padding:0;
}

a:hover {
    color: #7780A6;
}

#new-text {
    top: -15px;
    left: -23px;
}

#price {
    top: -6px;
    right: 21px;
}

#new-text, #price {
    font-family:'Lobster', cursive;
    color:white;
    font-size: 24px;
}
